# IMPORTS

In [1]:
import pandas as pd
import seaborn as sns

from datetime import datetime

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# LOADING DATA

In [2]:
data = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv')

# DATA FILTERING AND FEATURE ENGINEERING

In [3]:
data.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [4]:
data['sold'] = data['sold'].apply(lambda x: 1 if x == 'yes' else 0)

In [5]:
today = datetime.today().year
data['car_age'] = today - data['model_year']

In [6]:
data['km_per_year'] = data['mileage_per_year'] * 1.60934

In [7]:
data = data.drop(columns=['Unnamed: 0', 'model_year', 'mileage_per_year'], axis=1)

In [8]:
x = data[['price', 'car_age', 'km_per_year']]
y = data['sold']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)

scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

model = LinearSVC()
model.fit(x_train, y_train)
previsoes = model.predict(x_test)
acuracia = accuracy_score(y_test, previsoes) * 100
acuracia

/home/alex/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

71.12